[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
pytest = "*"
pylint-flask = "*"

[packages]
flask = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-bcrypt = "*"
pydub = "*"
numpy = "*"
redis = "*"
rq = "*"

[requires]
python_version = "3.8"
